body{
    font-family: Arial, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12px;

}
.container {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}
 #section_normal_1 {
     width: 1180px;
     height: 80px;
     margin-left: auto;
     margin-right: auto;
}


.one-third{
    padding-top: 18px;
    display: flex;
    float: left;

}
.two-thirds{
    display: flex;
    float: right;
    padding-top: 18px ;
    color: #b3b3b3;
}
.two-thirds a{
    padding-left: 2px;
    padding-right: 2px;

}

.htext_style{
    padding-top: 8px;
    padding-right: 30px;
    font-size: 150%;
    
}
#section_normal_4_2{
    background-color: #333333;
    height: 675px;
    padding-top: 80px;
}

.img_style{
    float: left;
    width: 530px;
    height: 485px;

}
.eight .columns .omega{
    width: 575px;
    float: right;

}
#section_normal_4_2 .blue_text {
    position: relative;
    left: 40px;
    font-size: 49px;
    color: #2dc0e8;
}
.omega .big_title{
    position: relative;
    left: 40px;
    font-size: 36px;
    margin: 0;
    color: #ffffff;
}
#section_normal_4_2 .normal_text {
    position: relative;
    left: 40px;
    font-size: 21px;
    color: darkgray;
}
.omega .pix_button{

    font-size: 20px;
    padding: 15px 25px;
    border: solid deepskyblue;
    background-color: #2dc0e8;
    position: relative;
    top: 169px;
    left: 40px;
    color:white;
    text-decoration: none;
    border-radius: 3px;

}
#section_normal_6{
    height: 390px;
    background-color: #eeeeee;
    padding-top: 55px;
}
#section_normal_6 h3 {
    font-size: 23px;
    text-align: center;
    color: #696969;
}
#section_normal_6 h5 {
    font-size: 15px;
    text-align: center;
    color: #adadad;
}
.b_style{
    height: 145px;
    width: 120px;
    background-color: #f5f5f5;
    float: left;
    border-radius: 5px 0 0 5px;

}
.logo_style {
    position: relative;
    top:33px;
    left:22px;
    right: auto;

    border-radius: 50%;

}
#section_normal_6 .alpha{
    float: left;
    margin-left: 20px;

}
#section_normal_6 .omega{
    float: right;
    margin-right: 20px;
}
.txt_style{
    height: 145px;
    width: 550px;
    background-color: white;
    border-radius: 0 5px 5px 0;
}

#section_normal_6 .txt_style p{
    padding-top: 35px;
    font-size: 15px;
    color: #b3b3b3;
}
#section_normal_6 .stars_span {
    position: relative;
    top: 20px;

}
.stars_span span{
    color: #60a7fc;
    font-size: 14px;

}
#section_agency_5{
    text-align: center;
    /*width: 660px;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
}
#section_agency_5 .foot_st{
    width: 660px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
#section_agency_5 .f1_style{
    font-size: 28px;
    color: #5e9c6b;
    margin-top: 80px;
}
#section_agency_5 .f2_style{
    margin-top: 55px;
    font-size: 20px ;
    color: #b3b3b3;
}
#section_agency_5  .second_link a{
    font-size: 20px;
    padding: 15px 25px;
    border: solid #5b9a68;
    background-color: white;
    position: relative;
    top: 45px;
    color:#5b9a68;
    text-decoration: none;
    border-radius: 5px;
}
#section_agency_5 .rights_st {
    padding-top: 100px;
    font-size: 15px;
    color: #b3b3b3;
}
#section_agency_5 .pixfort_st{
    color:#5b9a68;
    font-size: 15px;
}
#section_agency_5 .center_btn{
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    right: 263px;
}
#section_agency_5 .center_btn a{
    margin: 5px;
}




